@using TasksCalendar.Enums
@model CalendarViewModel

@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>
<table class="table table-dark">
    <thead>
    <td>@ViewBag?.Status</td>
    @foreach ( var day in Model.Map.Keys )
    {
        <th>@day</th>
    }
    </thead>
    <tbody>
    @foreach ( var hour in Model.Map.First()
                                .Value )
    {
        <tr>
            <th>@hour.Value.ToString( "00" ):00</th>
            @foreach ( var day in Model.Map.Keys )
            {
                <td>
                    @{ Html.BeginForm( "Calendar", "Calendar", FormMethod.Post ); }
                    <select class="bg-dark text-white" asp-for="@hour.Status " asp-items="Html.GetEnumSelectList<CompleteStatus>()"></select>
                    <textarea style="resize: none" placeholder="@hour.Task"></textarea>
                    <button type="submit">Сохранить</button>
                    @{
                        Html.EndForm();
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>